/* State machine styles */
.state-machine-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.state-circle {
    width: 200px;
    padding: 10px;
    background-color: #ccc;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
    box-shadow: 0 0 10px rgba(67, 65, 67, 0.7);
    /* Glow effect shadow */
    transition: box-shadow 0.3s ease-in-out;
}

.state-circle.active {
    background-color: rgb(10, 132, 47);
    /* Blinking effect color */
    animation: blinker 1s step-start infinite;
    box-shadow: 0 0 20px rgba(10, 132, 47, 0.9);
    /* Enhanced glow for active state */
}

@keyframes blinker {
    0% {
        background-color: rgba(34, 101, 48, 0.3);
    }

    50% {
        background-color: rgba(34, 101, 48, 0.25);
    }

    100% {
        background-color: rgba(34, 101, 48, 0.3);
    }
}

.state-title {
    font-weight: bold;
}

.arrow {
    width: 20px;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ccc;
    margin: 0 10px;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #ccc;
}

