/* Timer button styles */
.timer-button {
    width: 200px;
    padding: 10px;
    background-color: #ccc;
    margin: 10px 0;
    text-align: center;
    cursor: pointer;
    border: none;
}

.timer-button:hover {
    background-color: rgb(165, 135, 135)
}

.timer-button:active {
    background-color: #7cb388;
}