/* State machine styles */
.state-machine-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.state-rectangle {
    width: 200px;
    padding: 10px;
    background-color: #ccc;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.state-rectangle.active {
    background-color: #f42d0a;
    animation: blinker 1s step-start infinite;
}

/* @keyframes blinker {
    50% {
        background-color: #5d0303;
        opacity: 0;
    }
} */
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.active {
    animation: blinker 1s linear infinite;
}
.state-title {
    font-weight: bold;
}

.arrow {
    width: 20px;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ccc;
    margin: 0 10px;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #ccc;
}

