<launch>
<!--launch args-->
   <arg name="robot_ip" default="192.168.1.214"/>


      <!-- Include and launch xarm6-->
  <include file="$(find xarm6_moveit_config)/launch/realMove_exec.launch">
   <arg name="robot_ip" value="$(arg robot_ip)"/>
  </include>


  
  <!-- Include and launch teleop.launch -->
  <include file="$(find visual_servo)/launch/teleop.launch"></include>



  <!-- Include and launch visual_servo.launch -->
  <include file="$(find ag_gripper_driver)/launch/gripper.launch"></include>

  <group_state group="xarm6" name="init">
    <joint name="joint1" value="0"/>
    <joint name="joint2" value="-0.575950"/>
    <joint name="joint3" value="-0.0698"/>
    <joint name="joint4" value="0"/>
    <joint name="joint5" value="-0.8726"/>
    <joint name="joint6" value="0"/>
  </group_state>
  
</launch>