<launch>

  <!-- Define basket drop position joint space pose parameters -->
  <!-- <param name="/joint1_basket" value="-1.515"/>
  <param name="/joint2_basket" value="0.0617"/>
  <param name="/joint3_basket" value="-1.020"/>
  <param name="/joint4_basket" value="-0.2411"/>
  <param name="/joint5_basket" value="-0.6781"/>
  <param name="/joint6_basket" value="0.1951"/> -->

  <!-- realsense -->
  <include file="$(find realsense2_camera)/launch/rs_aligned_depth.launch"></include>

  <!-- state machine node-->
  <node pkg="perception_refactor"  name="state_machine_node" type="state_machine_node.py"></node>

  <!-- planner node-->
  <node pkg="perception_refactor"  name="planner_node" type="planner_node.py"></node>

  <!-- visual servo node-->
  <node pkg="perception_refactor"  name="visual_servo_node" type="visual_servo_node.py"></node>

  <!-- ee node-->
  <node pkg="perception_refactor"  name="ee_node" type="ee_node.py"></node>

  <!-- perception node-->
  <node pkg="perception_refactor"  name="perception_node" type="perception_node.py"></node>

  <!-- manipulation node-->
  <node pkg="perception_refactor"  name="manipulator" type="manipulator.py"></node>

  <!-- tf node-->
  <node pkg="perception_refactor"  name="tf_handler_node" type="tf_handler_node.py"></node>

</launch>